.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb25{margin-bottom:25px}.mb30{margin-bottom:30px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr25{margin-right:25px}.mr30{margin-right:30px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml25{margin-left:25px}.ml30{margin-left:30px}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt15{padding-top:15px}.pt20{padding-top:20px}.pt25{padding-top:25px}.pt30{padding-top:30px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb15{padding-bottom:15px}.pb20{padding-bottom:20px}.pb25{padding-bottom:25px}.pb30{padding-bottom:30px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr15{padding-right:15px}.pr20{padding-right:20px}.pr25{padding-right:25px}.pr30{padding-right:30px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl15{padding-left:15px}.pl20{padding-left:20px}.pl25{padding-left:25px}.pl30{padding-left:30px}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:20px}.l{float:left}.r{float:right}.t_l{text-align:left}.t_r{text-align:right}.t_c{text-align:center}.clear{clear:both}.overflow{overflow:hidden}.d_n{display:none}.d_b{display:block}.d_i{display:inline}.d_ib{-moz-inline-stack:inline-block;display:inline-block}.d_ib-i{*display:inline;*zoom:1}.lh12{line-height:12px}.lh14{line-height:14px}.lh16{line-height:16px}.lh18{line-height:18px}.lh20{line-height:20px}.lh21{line-height:21px}.lh22{line-height:22px}.lh24{line-height:24px}.lh25{line-height:25px}.lh28{line-height:28px}.lh30{line-height:30px}.lh34{line-height:34px}.lh36{line-height:36px}.lh38{line-height:38px}.lh40{line-height:40px}.lh45{line-height:45px}.lh50{line-height:50px}.lh52{line-height:52px}.lh53{line-height:53px}.lh55{line-height:55px}.lh90{line-height:90px}.h12{height:12px}.h14{height:14px}.h16{height:16px}.h18{height:18px}.h20{height:20px}.h21{height:21px}.h22{height:22px}.h24{height:24px}.h25{height:25px}.h28{height:28px}.h30{height:30px}.h34{height:34px}.h36{height:36px}.h38{height:38px}.h40{height:40px}.h45{height:45px}.h50{height:50px}.h52{height:52px}.h53{height:53px}.h55{height:55px}.h90{height:90px}.c33{color:#333}.c66{color:#666}.c99{color:#999}.c00{color:#000}.cff{color:#fff}
.p_r { position: relative;}
.m-auto { margin:0 auto;}
.l { float: left;}
.r { float: right;}
.d_tab { display: table;}

.f-e12 { font-size: 1.2em;}
.f-e14 { font-size: 1.4em;}
.f-e16 { font-size: 1.6em;}
.f-e18 { font-size: 1.8em;}
.f-e20 { font-size: 2em;}
.f-e22 { font-size: 2.2em;}
.f-e24 { font-size: 2.4em;}

.f-20 { font-size: 1.25rem;}

.f-80 { font-size: 80%;}

.f-w_b { font-weight: bold;}
/* color */
.c-grey { color: #5d5d5d;}
.c-grey-1 { color: #939393;}
.c-grey-2 { color: #5d5d5d;}

/* bg-color */
.bg-ff { background-color: #fff;}