

@media screen and (max-width: 480px){
    html { font-size: 31.75%;}
    /* login */
    .i-7 { width: 1rem; height:1.6rem;}
    .i-9 { width: 1.5rem; height: 1.5rem; margin-right: .5rem;}
    .head-layout-3 { margin-top: -1rem;}
    .login-ul { padding: 0 1.5rem;}
    .login-ul a { font-size: 1.2rem; line-height: 4.9rem;}
    .login-ul .active i { width:1.5rem; height: 1.3rem; margin-right: 1rem;}
    .login-form input { height: 3.25rem; text-indent: 1rem;}
    .login-form input[type="password"] { margin: 2rem 0 1.25rem 0;}
    .btn-login-submit { height: 4.4rem; line-height: 4.4rem;}
    .quick-open { border-radius: .1rem; margin-top: 5.25rem;}
    .quick-open-1 { line-height: 3.3rem; padding: .9rem 1.1rem 0 1.2rem;}
    .quick-open-1 p:last-child { line-height: 1.6rem; padding-bottom: 3rem;}
    .quick-open-2 { height: 4.4rem; line-height: 4.4rem;}
    .error { height: 3rem; line-height: 3rem; margin-left: -5rem; width: 10rem;}
    .i-10 { width: 5rem; height: 3.7rem; margin-left: -2.5rem; top:-3.5rem;}
    /* problem */
    .question-head { line-height: 6.6rem;}
    .question-content { line-height: 1.5rem;}
    .i-11 { width: 1.6rem; height:1.9rem;}
    .i-12 { width: 1.4rem; height: 1.65rem;}
    /* free */
    .free-layout ol li:first-child { margin-top: 2.25rem;}
    .free-layout ol li { line-height: 2.1rem; margin-bottom: 1rem;}
    /* 首页 */
    .head-btn-login { width: 6.2rem; height: 2.2rem; line-height: 2.2rem; margin-left: 1rem;}
    .nav-pic { width: 4.5rem; height: 4.5rem; margin-left: 1.1rem;}
    .i-showTime { text-indent: 1.5rem;}
    .dialog1 { width: 8rem; height: 23.8rem;}
    .list-content-row { margin-top: .25rem;}
    .row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10 { height: 4.5rem; width: .5rem;}
    .list-row-name, .list-row-content { line-height: 1.65rem; padding-top: .75rem;}
    .list-row-name { height: 3.75rem;}
    .list-row-dl-2 { margin-left: 1rem}
    /*.list-row-dl-2 dt { width: 4rem;}*/
    /*.list-row-dl-2 dd { width: 3.5rem;}*/
    .list-row-dl { margin-left: 1.5rem;}
    /*.list-row-dl dt { width: 5rem;}*/
    /*.list-row-dl dd { width: 4.5rem;}*/
    .i-true { line-height: 2.75rem;}
    .i-1 { width: 1.05rem; height:.8rem;}
    .i-2 { width: 1.25rem; height: 1.25rem;}
    .mySubscribe { height: 4.9rem; line-height: 4.9rem; margin-top: 1.5rem;}
    .mySubscribe-pic { width: 3.5rem; height: 3.25rem; margin: .75rem 1rem 0 2rem;}
    .mySubscribe-title { line-height: 4.9rem;}
    .i-3 { width: .75rem; height: .75rem;}
    .list-content-row:first-child { margin-top: 0.875rem;}
    .layout-func { margin: 2rem 0 3rem 0;}
    .i-5 { width: 1.75rem; height: 1.75rem; margin-right: 1.3rem;}
    .i-6 { width: 1.5rem; height: 1.5rem; margin-right: 1.3rem;}
    .foot-description { line-height: 1.6rem;}
    .foot-img { background-size: cover; width: 19.6rem; height: 2.1rem;}
    /* ---取消订阅---*/
    .subscribeSet { width: 25rem; margin-left: -12.5rem;}
    .head-set { height: 6rem;}
    .head-set h2 { margin: 1rem 0 0 1rem;}
    .i-8 { width: 1.35rem; height: 1.4rem; margin: .9rem 1rem 0 0;}
    .warn-title { margin: 1rem 0 2rem 0;}
    .btn-warn-sure,.btn-warn-cancel { width: 10rem; height: 3rem; line-height: 3rem; border-radius: .1rem;}
    .btn-warn-cancel { margin-left: 2.5rem;}
    .warn-pic { width: 4rem; height: 4rem;}
}